#notes-home {
  flex: 1;
  background-color: #1C1C1C;
}

.cards {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  text-decoration: none;
}


.card-note {
  width: 15rem;
  height: 15rem;
  background-color: #262626;

  border-radius: 1.3rem;

  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  cursor: pointer;

}

.card-note:hover{
  border:  2px solid #6C5CE7;
}

.star {
  flex: 1;
}

.star img {
  margin: 1rem 0 0 1rem;
}

.title {
  display: flex;
  flex: 1;
  
  align-items: center;
  justify-content: center;

  color: #ECF0F1 ;
  font-size: 2rem;
}

.group-card {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  font-size: 0;
}

.add-button {
  display: flex;
  position: fixed;
  width: 5rem;
  height: 5rem;
  background-color: #6C5CE7;

  top: 80vh;
  right: 10vh;

  justify-content: center;
  align-items: center;

  border-radius: 2.5rem;  
}

.add-button img {
  height: 2rem;
}

