#todo-note-page {

}

#titleNote {
  width: 100%;
  height: 5rem;
  outline: 0;
  border-width: 0 0 2px ;
  border-color: #1C1C1C;

  background-color: #1C1C1C;
  
  color: #ECF0F1;
  font-size: 2.5rem;

  margin-bottom: 5vh;
}

#titleNote:focus {
  border-color: #6C5CE7;
}

.todo {
  color: #ECF0F1;
}